<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head.ejs') %>
</head>
<body>
  <section>
   <img src="<%= oneBook.image_url %>" alt="<%= oneBook.title %>" />
   <h2><%= oneBook.title %></h2>
   <h3><%= oneBook.author %></h3>
   <p><%= oneBook.description %></p>
   <p><%= oneBook.isbn %></p>
  </section>
</body>
</html>