<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles/reset.css" type="text/CSS" rel="stylesheet" />
  <link href="styles/base.css" type="text/CSS" rel="stylesheet" />
  <link href="styles/layout.css" type="text/CSS" rel="stylesheet" />
  <link href="styles/modules.css" type="text/CSS" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&family=Work+Sans&display=swap" rel="stylesheet">
  <title>Book App</title>
</head>
<body>
  <header></header>
  <main>
    <p>You have this many books: <%=myBookShelf.length%></p>
    <ul>
      <% myBookShelf.forEach( book => { %>
        <form action="/addbook" method="post">
          <li>
            <%console.log(book);%>
            <img src="<%=book.image_url %>"/>
            <h2><%= book.title %></h2>
            <h3><%= book.author %></h3>
            <p><%= book.description %></p>
            <p><%= book.isbn %></p>
            <a href="/books/<%= book.id %>">Show details</a>
            <!-- <input type="hidden" name="title" value=<%=book.title %> />
            <input type="hidden" name="author" value=<%=book.author %> />
            <input type="hidden" name="description" value=<%=book.description %> />
            <input type="hidden" name="isbn" value=<%=book.isbn %> />
            <button>add to my favorites</button> -->
          </li></ul>
        </form>
      <% }) %>
  </main>
  <footer></footer>
  
</body>
</html>