<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
</head>
<body>
  <header id="book-header">
    <h1>Best Books!</h1>

  </header>
  <main>
    <div id="search-results">
      <h4>Search Results</h4>
    </div>

    <div id="book-stuff">
      <ul>
        <% searchResults.forEach( book => { %>

          
            <li>
              <%console.log(book);%>
              <img src=<%= book.image %>/>
              <h2><%= book.title %></h2>
              <h3><%= book.author %></h3>
              <p><%= book.description %></p>
              <p><%= book.isbn %></p>
              <form action="/detail" method="post">
                <input type="hidden" name="image_url" value="<%=book.image %>" />
                <input type="hidden" name="title" value="<%=book.title %>" />
                <input type="hidden" name="author" value="<%=book.author %>" />
                <input type="hidden" name="description" value="<%=book.description %>" />
                <input type="hidden" name="isbn" value="<%=book.isbn %>" />
                <input type="text" name="bookshelf" placeholder="Create a Bookshelf"/>
                <button type="submit">add to my favorites</button>
              </li>
              </form>
          <% }) %>
      </ul>
    </div>
   
  </main>
</body>
</html>